body
{
  background-color: black;
}

.container {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #000000;
  padding: 15%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  margin: auto;
}

.title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #0971ad;
  box-shadow: 10px 10px 10px rgba(80, 79, 79, 0.336);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #009dff;
}

.wordDisplay {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

.wordText {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
